footer {
    .gray {
        background-color: rgb(34, 34, 34);
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }

    small {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #999;
        line-height: 22px;
        margin: 10px 0;

        span {
            display: block;
        }
    }

    .big {
        padding: 100px 0;
        display: flex;
        width: 40%;
        justify-content: space-between;

        .contact,
        .times {
            display: flex;
            flex-direction: column;
            margin-right: 30px;
        }
    }

    .black {
        background-color: rgb(0, 0, 0);
    }

    .small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .icones a {
            color: #fff;
            margin: 0 10px;

        }

        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color:#999;
        }
        a{
            color: #666;
            &:hover{
                color: #d61c22;
            }
        }
    }
}