nav {
    width: 100vw;
    height: 120px;
    border-top: 5px solid #ec1d25;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: .2s ease-in-out;
}

.white-nav {
    background: rgba(255, 255, 255, 0.884);
    transition: all .2s ease;
    height: 100px;
    transition: .2s ease-in-out;

    .navigation {
        a {
            color: rgb(0, 0, 0);
        }

        :hover {
            color: #ec1d25;
            transition: .2s ease-in-out;
        }
    }

    .burger-menu {
        div {
            background: rgb(0, 0, 0);
        }

        &:hover div {
            background: #d61c22;
        }

    }

}

.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        padding: 0 15px;
        transition: .2s ease-in-out;
    }

    :hover {
        color: #ec1d25;
        transition: .2s ease-in-out;
    }
}

.side-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;

    div {
        width: 70%;
        height: 3px;
        background: rgb(255, 255, 255);
        margin: 5px 0;

    }

    &:hover div {
        background: #d61c22;
    }
}

// side-menu
.side-menu {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 1500;
    width: 390px;
    height: 100%;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s ease-in-out;

    a {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        padding: 10px 0;
        transition: .2s ease-in-out;
    }

    :hover {
        color: #ec1d25;
        transition: .2s ease-in-out;
    }
    .btn{
        background-color: #000;
        color: #ffffff;
        margin-top: 20px;
    }
    .out{
        font-size: 30px;
        align-self:flex-end;
    }

    
}
.reveal{
    right: 0;
    transition: .2s ease-in-out;
}