.contact {
    .bloc1 {
        padding: 100px 0;
    }

}

.map {
    width: 60%;
    margin: 0 auto;

    iframe {
        border: 5px solid rgb(255, 255, 255);
        border-radius: 10px;
    }
}

.formulaire {
    width: 50%;
    margin: 100px auto;
    text-align: center;
    margin-bottom: 0;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

    :focus::-webkit-input-placeholder {
        opacity: 0;
    }

    /* Chrome 56, Safari 9 */

    .name,
    .email,
    .phone {
        width: 30%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 0 auto;
    }

    .message {
        width: 97%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    input,
    textarea {
        padding: 15px;
        border-radius: 10px;
        border: 2px solid #d4d4d4;
        width: 100%;
        margin: 10px 0 20px 0;

        &:focus {
            border: 2px solid #ec1d25;
            outline: none;
        }
    }

    .btn {
        background-color: #000;
        color: #fff;
    }
}

@media screen and (max-width: 1400px) {
    .map {
        width: 80%;
    }

    .formulaire {
        width: 70%;
    }
}

@media screen and (max-width: 765px) {
    .map {
        width: 90%;
    }

    .formulaire {
        width: 90%;
        
    }

    form {
        flex-direction: column;
        align-items: center;
    
        :focus::-webkit-input-placeholder {
            opacity: 0;
        }
    
        .name,
        .email,
        .phone {
            width: 100%;
        }
    
        .message {
            width: 100%;
        }
    
        .btn {
            background-color: #000;
            color: #fff;
            width: auto;
        }
    }
}